header{
  background-color: #002156 ;

  width: 1000px;
  height: 300px;
  color: white;
  text-align: center;



}

main{
  background-color: #2161c6;

  text-align: center;
  width: 700px;

  display: inline-block;



}

aside{
  background-color: #dded31;
  display: inline-block;
  width: 300px;
  height: 400px;
  float: right;

}
